[user]
	email = omarcoptan9@gmail.com
	name = Coptan99
	signingkey = ~/.ssh/id_rsa.pub
[commit]
    gpgsign = true
[gpg]
	format = ssh
[core]
	editor = nvim
[pull]
	rebase = true
[review "review.lineageos.org"]
    username = Coptan99
[trailer "changeid"]
    key = Change-Id
