[Desktop Entry]
Type=Application
Name=Minecraft
Icon=/home/omar/.local/share/minecraft-icon.png
Exec=java -jar /home/omar/Games/Minecraft/LegacyLauncher_legacy.jar
